html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
  min-width: 1366px;
}
.el-breadcrumb {
  margin-bottom: 15px;
  font-size: 12px;
}
.el-card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12) !important;
}
.el-pagination {
  margin-top: 15px;
}
/* .el-cascader-menu {
  height: 300px;
} */
.el-cascader-menu__wrap,
.el-scrollbar__wrap {
  height: 290px !important;
}
.ql-editor {
  min-height: 500px;
}
